
.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: .5;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}


.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}


.card {
  border: 1px solid greenyellow;
  background-color: rgb(69, 126, 13);
  color: whitesmoke;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.card:hover {
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.8);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-icons {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.card h1 {
  font-size: 30px;
  font-family: 'Arial Narrow Bold';
}

.card h2 {
  font-size: 23px;
  color: rgb(1, 35, 5);
}

.card h3 {
  font-size: 25px;
}

.card-price {
  background-color: rgb(56, 5, 65);
  width: 50%;
  padding: 2px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
